{% extends '_layouts/master' %}
{% set bodyClass = 'home' %}

{% block content %}
    {% include '_includes/header' %}

    <main class="main" id="main">

        <div class="modules">
            {% include '_includes/hero' %}
            {% include '_includes/about' %}
            {% include '_includes/sponsor' %}
            {% include '_includes/slider' %}
            {% include '_includes/calendar' %}
            {% include '_includes/newsletter' %}
        </div>
    </main>


    {% include '_includes/footer' %}
{% endblock %}
