.about{
  color: white;
  background-image: linear-gradient($primary, white);
  padding: 50px 0;
  @include respond-to(small){
    padding-bottom: 120px;
  }
  &__title{
    @extend .title;
    margin-bottom: 10px;
  }
  &__wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__text{
    @extend .text;

  }
  &__accordion{
    @extend .text;
    color: $primary;
    margin-top: auto;
    margin-bottom: 0;
  }
  &__image{
    aspect-ratio: 3/4;
    width: 100%;
  }
}
