<div class="about">
    <div class="container">
        <div class="row">
            <div class="gr-24">
                <h2 class="about__title">Über mich</h2>
            </div>
            <div class="gr-24 gr-12@small order-2">
                <div class="about__text">
                    {{ entry.aboutText }}
                </div>
            </div>
            <div class="gr-24 gr-12@small order-l">
                <img class="about__image" src="{{ entry.aboutImage.one().url }}">
            </div>
        </div>
    </div>
</div>
