{% block footer %}
        <footer class="footer" id="footer">
        <div class="container">
                <div class="row">
                        <div class="gr-12">
                                <div class="footer__links">
                                        <a class="footer__links--a" href="">Instagram</a>
                                        <a class="footer__links--a" href="">Datenschutz</a>
                                </div>
                        </div>
                        <div class="gr-12">
                                <div class="footer__text">
                                        Yannik Blum ©2024
                                </div>
                        </div>
                </div>
        </div>
        </footer>
{% endblock %}
