<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="gr-12">
                <div class="calendar__title">Newsletter</div>
                <div class="newsletter__text">Wollen Sie über den neusten Stand informiert bleiben? <br>Melden sie sich hier für meinen Newsletter an.</div>
            </div>
            <div class="gr-12">
            <form data-form-language="de" id="contact_form_1_de"
                    class="contact_form contact_form_de validate_type_all contact_form_cols_1"
                    action="//web.swissnewsletter.ch/e/6f25344f4b9c4fa8/form/de/anmeldeformular.html"
                    method="post"  novalidate="novalidate">
                        <ul class="field_errors"></ul>
                            <div class="col_0">
                                            
                                <div class="field_container contact_field_container"
                    id="contact_field_title_container">
                            <label for="data_contact_title">Anredeart    <span class="required">*</span></label>
                    <ul class="field_errors"></ul>
                    <select     id="data_contact_title" name="data[contact][title]" required="required"><option value="" selected="selected">-- Bitte wählen --</option><option value="male">Herr</option><option value="female">Frau</option><option value="diverse">Divers</option><option value="family">Familie</option><option value="company">Firma</option></select>
                </div>                            
                                <div class="field_container contact_field_container"
                    id="contact_field_firstname_container">
                            <label for="data_contact_firstname">Vorname    <span class="required">*</span></label>
                    <ul class="field_errors"></ul>
                    <input type="text"     id="data_contact_firstname" name="data[contact][firstname]" required="required" >
                </div>                            
                                <div class="field_container contact_field_container"
                    id="contact_field_lastname_container">
                            <label for="data_contact_lastname">Nachname    <span class="required">*</span></label>
                    <ul class="field_errors"></ul>
                    <input type="text"     id="data_contact_lastname" name="data[contact][lastname]" required="required" >
                </div>                            
                                <div class="field_container contact_field_container"
                    id="contact_field_email_container">
                            <label for="data_contact_email">E-Mail Adresse    <span class="required">*</span></label>
                    <ul class="field_errors"></ul>
                    <input type="text"     id="data_contact_email" name="data[contact][email]" required="required" >
                </div>                            
                                <div class="submit_container">
                    <input class="submit_button" id="submit_button_7" type="submit" value="Senden">
                </div>                            
                            
                                    
                        </div>
                        <input type="hidden"     id="data_form_version" name="data[form_version]" value="5_0" >
                    <input type="hidden"     id="data_referrer" name="data[referrer]" >
                    <input type="hidden" id="data_form_validate_data" name="form_validate_data"
                        value='{"data_contact_title":{"constrains":{"required":true},"transformer":"select"},"data_contact_email":{"constrains":{"required":true}},"data_contact_firstname":{"constrains":{"required":true}},"data_contact_lastname":{"constrains":{"required":true}}}'>
                    <input type="hidden"     id="data_form_id" name="data[form_id]" value="1" >
                    <input type="hidden"     id="data_form_language" name="data[form_language]" value="de" >

                    <script type="text/javascript">
                        var inputReferrer = document.getElementById('data_referrer');
                        if (inputReferrer) {inputReferrer.value = window.location.href;}
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>
